{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "testing-library/no-debugging-utils": "warn",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props":"off",
    "prettier/prettier": "warn",
    "no-console": "warn",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}